[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle"]
	path = vim/bundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
